body{
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: regular;
    color: rgb white
}

h1, h2, a{
    font-family: 'Arial';
}

h1{
    font-size: 50px;
    font-weight: 900;
    color: rgb(198, 198, 92);
}

h2{
    color: rgb(198, 198, 92);
    font-size: 27px;
    font-weight: 600px;
}

img{
    border-radius: 30px;
}

div{
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
    padding: 60px;
    width: 700px;
margin: 30px auto;
box-shadow: 0 10px 30px rgba(233, 229, 229, 0.733);
border-radius: 20px;
}

a{
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 600px;
    padding: 11px 20px;
    background-color: rgb(198, 198, 92);
}

p{
    color: white;
}

ul{
    color: white;
}

a:hover {
background-color: rgb(119, 114, 114);
}

section{
    width: 1200px;
    display: flex;
    margin: 30px auto
}


body
{
    background: #2b2b2b;
}
